.bigWord{  
    font-style: oblique;
    font-weight: bold;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    margin:1%;
    
}
.defn{
    font-size:0.9em;
    font-weight: lighter;
    font-style: normal;
    margin-left: 1%;
    border-style: inset;
}
code{
    margin:1%;
}
/*body {
    font-family: 'Oswald', sans-serif;
      
  }
  .bigWord{
      font-size:1.2em;
      background-color:#FFF; 
      color:rgba(4,5,6,0.5);
      border: 0.1em #FFF solid;width:100%;
  }
  .bigWord:hover{
      background-color:hsla(268, 100%, 96%, 0.925);
      cursor:pointer;
      
  }
  .defn{
      font-size:0.51em;
      display:none;
  }
  .myReply{
      display:block;
      
      font-size:0.91em;
      border:0.2em #123456 double;
  }
  code{
      width:70%; display:block; 
      color:white;
      background-color: rgb(39, 9, 73); 
      margin:0.3em;
  } */